.input {
  border: 1px solid gray;
}

.userList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
